<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Daily info page!</title>
</head>

<body>
    <h1>XKCD</h1>
    <div>
        {% for k, v in xkcd.items() %}
        <h2>{{k}}</h2>
        <!-- output contains the image tag, so we don't want to escape it -->
        {% autoescape false %}
        <p>
            {{v}}
        </p>
        {% endautoescape %}
        {% endfor %}
    </div>

    <h1>Tweakers</h1>
    <div>
        {% for k, v in tweakers.items() %}
        <table>
            <tr>
                <a href = "{{ k }}" >{{v}}</a>
            </tr>
        </table>
        {% endfor %}
    </div>

    <h1>Nu.nl</h1>
    <div>
        {% for k, v in nu.items() %}
        <table>
            <tr>
                <a href = "{{ k }}" >{{v}}</a>
            </tr>
        </table>
        {% endfor %}
    </div>
</body>
</html>